$font-courier: 'Courier Prime', courier;
$font-nosifer: 'Nosifer', cursive;
$font-cursive: 'Mrs Saint Delafield', cursive;

$red: #ac0002;
$gray: black;

*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    overflow-x: clip;
}
body {
    background: white;
    color: $gray;
    margin: 0;
}
main {
    max-width: 768px;
    margin: auto;
    padding: 4rem 1rem 0;
    overflow: hidden;
    position: relative;
}
main::before {
    content: '';
    background-image: url('./blood-stains-white-background.jpg');
    z-index: -1;
    position: absolute;
    top: -8rem;
    left: -5rem;
    width: 50vw;
    height: 20rem;
    background-size:cover;
    background-position:bottom;
}
main::after {
    content: '';
    background-image: url('./blood-stains-white-background.jpg');
    z-index: -1;
    position: absolute;
    top: -10rem;
    right: -1rem;
    width: 50vw;
    height: 20rem;
    background-size:cover;
    background-position:bottom;
    transform: rotate(35deg);
}
h1 {
    font-family: cursive;
    font-size: clamp(1rem, 12vw, 5rem);
    line-height: 1.2;
    text-align: center;
}
p {
    font-family: $font-courier;
    font-size: 1.5rem;
    color: $gray;
}
small {
    font-size: 1rem;
    font-family: $font-courier;
    display: inline-block;
    margin-top: 1rem;
}

.red {
    color: $red;
}
.block {
    display: block;
}

.year {
    font-size: 45vw;
}
.info {
    background: #f0f0f0;
    padding: .5rem;
}
.nosifer {
    font-family: $font-nosifer;
    color: $red;
}

input {
    width: 100%;
    font-family: $font-cursive;
    font-size: calc(7vw + 2rem);
    border: 0;
    color: black;
}
.input-holder {
    position: relative;
}
.input-holder::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    bottom: clamp(0rem, 7vw, 2.5rem);
    left: 0;
    background: black;
}
button {
    font-family: $font-courier;
    font-size: 15vw;
    margin: auto;
    display: block;
    width: 100%;
    padding: 3rem 4rem;
    border: 0;
    background: transparent;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 2rem;
    line-height: .7;
    font-weight: bold;

    @media(min-width: 768px) {
        font-size:8vw;
    }
}
button svg {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: $red;
    transform: scale(1.5) rotate(-73deg);
    z-index: -1;
    pointer-events: none;
    opacity: .5;
    transition: .3s;

    @media(min-width: 768px) {
        transform: scale(.8) rotate(-73deg);
    }
}
button:hover svg {
    opacity: 1;
}

.game-image {
    margin-top: 2rem;
    margin-inline: auto;
    transform: translateX(-1rem);
    width: 100vw;
    max-width: 768px;
    display: block;
}